Makefile
aclocal.m4
autom4te.cache/
config.log
config.status
configure
unifycr-runtime-config.h
install/
src/unifycr-fixed.o
src/unifycr-fixed.po
src/unifycr-stack.o
src/unifycr-stack.po
src/unifycr-stdio.o
src/unifycr-stdio.po
src/unifycr-sysio.o
src/unifycr-sysio.po
src/unifycr.o
src/unifycr.po
src/libunifycr-posix.a
src/libunifycr.so
src/lookup3.o
src/lookup3.po
src/lookup8.o
src/lookup8.po
tests/a.out
tests/sizes
tests/test1
tests/test_fopen
tests/test_fprintf
tests/test_memcpy
tests/test_ramdisk
tests/test_scanf
tests/test_truncate
tests/test_ungetc
tests/test_writeread
tests/test_wscanf
cscope.out
