clocal.m4
autom4te.cache
build
config.*
configure
cscope.*
tags
depcomp
INSTALL
install-sh
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
stamp-h2
test-driver
*compile
*.gcda
*.gcno
*.sw?
*~
*.lo
*.la
*.o
*.tar.gz
*.rpm
*.diff
*.patch
.libs
.deps
.nfs*

# Softlinks to test and log
log
*.vol

# editor
*.swp

# nfs files
*.nfs0*

# cmocka unit tests
*.log
*.trs
*_unittest

# project files
server/src/unifycrd
util/unifycr/src/unifycr

# generated package files
client/unifycr-config
client/unifycr.pc

# test files
client/tests/test_read_gotcha
client/tests/test_read_static
client/tests/test_write_gotcha
client/tests/test_write_static
t/sys/open.t
t/test-results/
t/unifycr_unmount.t
t/test_run_env.sh
