aclocal.m4
autom4te.cache
build
config.*
configure
cscope.*
tags
depcomp
INSTALL
install-sh
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
stamp-h2
test-driver
*compile
*.gcda
*.gcno
*.sw?
*~
*.lo
*.la
*.o
*.tar.gz
*.rpm
*.diff
*.patch
.libs
.deps
.nfs*

# Softlinks to test and log
log
*.vol

# editor
*.swp

# nfs files
*.nfs0*

# cmocka unit tests
*.log
*.trs
*_unittest

# project files
server/src/unifyfsd
util/unifyfs/src/unifyfs

# generated package files
client/unifyfs-config
client/unifyfs.pc
extras/unifyfs.conf
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
meta/src/Mlog2/.dirstamp
t/sys/.dirstamp

# test files
client/unifyfs-runtime-config.h
examples/src/*-gotcha
examples/src/*-posix
examples/src/*-static
t/sys/open.t
t/test-results/
t/unifyfs_unmount.t
t/seg_tree_test.t
t/test_run_env.sh
deps
install
