/* changed side navigation bg colors */
    .wy-side-nav-search {
        background: #222c32 !important;
    }

    .wy-nav-side {
        background: #222c32;
    }

    .rst-versions{
        border-top:solid 10px #222c32;        
    }
